<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  
  <div class="form-group">
	  <div class="form-inputs">
		<%= f.input :question, autofocus: true, class: "form-control" %>
	  </div>
  </div>
  
  <div class="form-group">
	  <div class="form-actions">
		<%= f.button :submit, class: "btn btn-primary"  %>
	  </div>
  </div>
  
<% end %>


